#---------------------------------------------------------
# Templates bundle configuration file
# 5 values separated by ";"
# . value 1 : the label to be displayed 
# . value 2 : the file to be generated ( with variables replacement : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( with variables replacement )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------

# Domain class ( keep same package for tests classes )

# core module 
entity class             ; ${BEANNAME}.java      ; ${SRC}/${ROOT_PKG}/${ENTITY_PKG}       ; domain_entity_java.vm
repository_interface     ; ${BEANNAME}Repository.java      ; ${SRC}/${ROOT_PKG}/${REPOSITORY_PKG}       ; repository_interface_java.vm

